[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
drf-nested-routers = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pillow = "*"
django-cors-headers = "*"
django-templated-mail = "*"
celery = "*"
redis = "*"
flower = "*"
pytest = "*"
model-bakery = "==1.16.0"
django-silk = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
autopep8 = "*"
pytest-watch = "*"
model-bakery = "==1.16.0"
locust = "*"
django-silk = "*"

[requires]
python_version = "*"
